.labDetail {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.labInfo {
  display: flex;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 60px;
  padding: 0 60px;
}

.lablogoIcon {
  width: 300px;
  height: 300px;
  border-radius: 19.37px;
  object-fit: cover;
  opacity: 0.8;
  margin-right: 40px;
}

.labDetails {
  display: flex;
  flex-direction: column;
}

.labName {
  line-height: 130%;
  font-size: var(--font-size-17xl);
  margin-bottom: 20px;
}

.naturalLanguageProcessing {
  margin: 0;
  font-size: 32px;
}

.professorInfo,
.labWebsite,
.labLocation {
  line-height: 130%;
  margin-bottom: 10px;
}

.labWebsite {
  color: var(--color-blue);
  font-size: var(--font-size-5xl);
}

.labLocation {
  font-size: var(--font-size-5xl);
}

.labDescription,
.labMembers,
.labTags {
  margin-bottom: 60px;
  padding: 0 60px;
}

.sectionTitle {
  font-size: var(--font-size-7xl);
  line-height: 130%;
  margin-bottom: 20px;
}

.labDescriptionText {
  line-height: 130%;
}

.span {
  text-decoration: underline;
}

.a {
  color: inherit;
}

.memberInfo {
  line-height: 130%;
}

.p {
  margin: 0;
  white-space: pre-wrap;
}

.tagList {
  font-size: var(--font-size-5xl);
  line-height: 130%;
}

.hci {
  margin: 0;
}