.tab {
  width: 227px;
  height: 44px;
  text-align: center;
  color: var(--color-darkgray-200);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.lab {
  color: var(--color-black);
}
.labList {
  max-width: 1600px;
  width: 100%;
  position: relative;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
  overflow: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 20px;
  box-sizing: border-box;
}

.nameSearch {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 237px;
  height: 44px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search154734Icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.typeHere {
  background-color: var(--color-white);
  border: 1px solid white;
  box-sizing: border-box;
  width: 180px;
  height: 36px;
  text-align: left;
  font-size: var(--font-size-mini);
}

.typeHere:focus {
  outline: none;
}
.icon5 {
  height: 87.82%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 12.18%;
  left: 0;
  border-radius: 19.37px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  gap: 70px;
  text-align: center;
  justify-items: center;
  width: 90%;
  margin-top: 50px;
}

.grid a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.grid img {
  width: 260px;
  height: 200px;
  object-fit: contain;
  padding: 13px;
  margin-bottom: 10px;
  border-radius: var(--br-lgi-4);
  border: 2.2px solid rgba(38, 72, 49, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}

.gridName{
  width: 260px;
  text-align: right;
}