.club,
.lab {
  position: relative;
  display: inline-block;
  min-width: 43px;
}
.lab {
  color: var(--color-darkgray);
  min-width: 29px;
  cursor: pointer;
}
.clubLabContent,
.clubLabContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.clubLabContent {
  width: 105px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.clubLabContentWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.icon,
.icon1 {
  align-self: stretch;
  width: 293px;
  position: relative;
  border-radius: 19.37px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 229px;
}
.icon1 {
  width: 285px;
}
.frameParent,
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-18xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .parent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 725px) {
  .frameParent {
    gap: var(--gap-lg);
  }
}
@media screen and (max-width: 450px) {
  .club,
  .lab {
    font-size: var(--font-size-base);
  }
}
