.logoIcon {
  height: 50.1px;
  width: 50.1px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs-6);
}
.div {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.chatHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-2);
}
.clabU {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg-6);
  line-height: 25px;
  font-weight: 600;
  display: inline-block;
  min-width: 215px;
  max-width: 100%;
}
.firstchat {
  flex: 1;
  border-radius: 17.19px;
  background-color: var(--color-darkgray);
  border: 1.4px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-sm) var(--padding-2xs) var(--padding-33xl)
    var(--padding-base-7);
  gap: var(--gap-base-8);
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.chatArea,
.firstchat,
.navigationParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chatArea {
  width: 524.3px;
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-3xl-3);
  box-sizing: border-box;
}
.navigationParent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-24xl-1);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 650px) {
  .navigationParent {
    gap: var(--gap-3xl);
  }
}
