.icon {
  align-self: stretch;
  width: 284px;
  position: relative;
  border-radius: 19.37px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 229px;
  cursor: pointer;
}
