.navigation {
  display: flex;
  align-items: center;
  background-color: var(--color-darkslategray-300);
  height: 84px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg-6);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.logoIcon {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: 40px;
  cursor: pointer;
}

.clabu {
  font-size: var(--font-size-18xl-1);
  letter-spacing: -0.01em;
  line-height: 100%;
  font-family: var(--font-nico-moji);
  color: var(--color-whitesmoke-300);
  text-align: right;
  margin-left: 15px;
  cursor: pointer;
}

.search,
.list,
.application {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  border-radius: 3.09px;
  overflow: hidden;
  cursor: pointer;
}

.search {
  width: 104px;
  margin-left: auto;
}

.search1 {
  line-height: 130%;
  font-weight: 600;
}

.list {
  width: 67px;
  margin-left: 20px;
}

.application {
  width: 143px;
  margin-left: 20px;
}

.application1 {
  line-height: 130%;
  font-weight: 600;
}

.account1Icon,
.loginIcon {
  object-fit: cover;
  cursor: pointer;
}

.loginIcon {
  width: 60px;
  height: 60px;
  display: none;
  margin-left: 20px;
}

.account1Icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}