.b {
  flex: 1;
  position: relative;
  line-height: 26px;
  display: inline-block;
  max-width: 100%;
}
.firstchat,
.responseContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.firstchat {
  width: 501px;
  border-radius: 17.98px;
  background-color: var(--color-darkseagreen);
  border: 1.5px solid var(--color-gainsboro);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-7xs) var(--padding-mini)
    var(--padding-6xl-5);
}
.responseContent {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0 16.7px;
}
.logoIcon {
  height: 50.2px;
  width: 50.2px;
  position: relative;
  object-fit: cover;
}
.logoWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 var(--padding-9xs-5);
}
.div {
  position: relative;
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}
.assistantHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
}
.p,
.p1,
.p2,
.p3,
.p4,
.p5 {
  margin: 0;
}
.div1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg-6);
  line-height: 130%;
  font-weight: 600;
  display: inline-block;
  min-width: 70px;
  max-width: 100%;
}
.firstchat1 {
  width: 480px;
  border-radius: var(--br-mid-2);
  background-color: var(--color-darkgray);
  border: 1.4px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-2xs) var(--padding-mid)
    var(--padding-base-8);
  gap: var(--gap-base-8);
  max-width: 100%;
  font-size: var(--font-size-3xs);
}
.inputfieldIcon,
.text {
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.text {
  width: 1201px;
  height: 0;
  line-height: 130%;
  display: flex;
  white-space: pre-wrap;
  align-items: center;
}
.inputfieldIcon {
  align-self: stretch;
  border-radius: 17.81px;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.textParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xs-7);
  font-size: var(--font-size-mid-7);
}
.responseArea,
.responseContentParent,
.textParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.responseContentParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl-4);
}
.responseArea {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl-5) 0 var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi-5);
  color: var(--color-black);
  font-family: var(--font-inter);
}
