.clubNameInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.clubNameInput:focus {
  outline: none;
}

.clubDescInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.clubDescInput:focus {
  outline: none;
}

.clubTagInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.clubTagInput:focus {
  outline: none;
}

.clubLocInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.clubLocInput:focus {
  outline: none;
}

.clubRepInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.clubRepInput:focus {
  outline: none;
}

.contactInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.contactInput:focus {
  outline: none;
}

.pageInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.pageInput:focus {
  outline: none;
}

.idInput {
position: absolute;
width: 240px;
height: 29px;
left: 168px;
top: 109px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.idInput:focus {
  outline: none;
}

.pwInput {
position: absolute;
width: 240px;
height: 29px;
left: 168px;
top: 181px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* identical to box height, or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.pwInput:focus {
  outline: none;
}

.membersInput {
position: absolute;
width: 97%;
height: 51px;
left: 1.5%;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 130%;
/* or 29px */
display: flex;
align-items: center;
color: #000000;
background-color: transparent;
border-color: transparent;
}
.membersInput:focus {
  outline: none;
}

.clubMembersChild {
  position: absolute;
  top: 152.5px;
  left: 1.5%;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 97%;
  height: 1px;
}
.b,
.b1 {
  position: absolute;
  line-height: 130%;
}
.b {
  top: 102px;
  left: 2.5%;
  display: flex;
  align-items: center;
  width: 95%;
  height: 51px;
}
.b1 {
  top: 26px;
  left: 27px;
  font-size: var(--font-size-5xl);
}
.clubMembers {
  position: absolute;
  top: 1932px;
  box-sizing: border-box;
}
.clubMembers,
.clubPage,
.clubRepEmail {
  left: 2.5%;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  width: 95%;
  height: 180px;
  overflow: hidden;
}
.clubPage {
  position: absolute;
  top: 1733px;
  box-sizing: border-box;
}
.clubRepEmail {
  top: 1534px;
}
.clubLocation,
.clubRepEmail,
.clubRepName {
  position: absolute;
  box-sizing: border-box;
}
.clubRepName {
  top: 1335px;
  left: 2.5%;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  width: 95%;
  height: 180px;
  overflow: hidden;
}
.clubLocation {
  top: 1136px;
}
.clubDescription,
.clubLocation,
.clubTag {
  left: 2.5%;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  width: 95%;
  height: 180px;
  overflow: hidden;
}
.clubTag {
  position: absolute;
  top: 937px;
  box-sizing: border-box;
}
.clubDescription {
  top: 738px;
}
.clubDescription,
.clubName,
.labIdPasswordChild {
  position: absolute;
  box-sizing: border-box;
}
.clubName {
  top: 539px;
  left: 2.5%;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  width: 95%;
  height: 180px;
  overflow: hidden;
}
.labIdPasswordChild {
  top: 145.5px;
  left: 167.5px;
  border-top: 1px dashed var(--color-black);
  width: 251px;
  height: 1px;
}
.b14,
.b15 {
  position: absolute;
  top: 109px;
  left: 34px;
  line-height: 130%;
}
.b15 {
  left: 168px;
}
.labIdPasswordItem {
  position: absolute;
  top: 217.5px;
  left: 167.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 251px;
  height: 1px;
}
.b16,
.b17 {
  top: 181px;
  line-height: 130%;
}
.b16 {
  position: absolute;
  left: 34px;
}
.b17 {
  left: 168px;
}
.b17,
.b19,
.div {
  position: absolute;
}
.div {
  top: 103px;
  left: 461px;
  border-radius: var(--br-3xs);
  background-color: var(--color-silver);
  width: 163px;
  height: 41px;
  cursor: pointer;
}
.b19 {
  top: 10px;
  left: 23px;
  font-size: var(--font-size-lg);
}


.labIdPassword {
  top: 2131px;
  left: 2.5%;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 95%;
  height: 289px;
  overflow: hidden;
}
.b20,
.labIdPassword,
.submit {
  position: absolute;
}
.b20 {
  top: 12px;
  position: relative;
  line-height: 130%;
}
.submit {
  top: 2500px;
  left: 40%;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 20%;
  height: 55px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.club {
  top: 10px;
  left: 61px;
}
.club,
.lab,
.tab {
  position: absolute;
}
.lab {
  top: 10px;
  left: 137px;
  color: var(--color-darkgray-200);
  cursor: pointer;
}
.tab {
  top: 130px;
  left: 40%;
  width: 20%;
  height: 44px;
  overflow: hidden;
  font-size: large;
}

.applicationFormClub {
  width: 100%;
  position: absolute;
  background-color: var(--color-floralwhite);
  height: 2800px;
  overflow: auto;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
