.clubDetail {
  width: 85%;
  position: relative;
  background-color: var(--color-floralwhite);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: "NanumSquareNeo";
  padding-left: 70px;
  padding-right: 70px;
  /*min-height: 100vh;*/
}

.clubHeader {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
  padding: 0 60px;
}

.clublogoIcon {
  width: 300px;
  height: 300px;
  border-radius: 19.37px;
  object-fit: contain;
  margin-right: 40px;
  border: 1.6px solid var(--color-darkslategray-200);
  padding: 20px;
}

.clubInfo {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 20px;
}

.clubName{
  font-size: var(--font-size-17xl);
  margin-bottom: 80px;
}

.title{
  margin-top: 30px;
}

.representInfo{
  line-height: 130%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.represent{
  margin-bottom: 5px;
}

.clubWebsite{
  line-height: 130%;
  margin-bottom: 10px;
  color: rgba(14, 52, 27, 0.7);
  font-size: var(--font-size-5xl);
}

.clubWebsite:hover {
  text-decoration: underline;
}

.clubLocation{
  display: flex;
  flex-direction: column;
  width: 440px;
  text-align: right;
  margin-bottom: 190px;
  padding: 0px 50px;
}

.locationText {
  font-size: var(--font-size-3xl);
  line-height: 130%;
}

.clubDescription {
  margin-bottom: 60px;
  padding: 0 60px;
}

.sectionTitle {
  font-size: var(--font-size-7xl);
}

.sectionContainer {
  width: 100%;
  border-radius: 19.37px;
  background-color: var(--color-whitesmoke-200);
  border: 1.6px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
  opacity: 0.8;
}

.sectionContainer1 {
  width: 100%;
  border-radius: 19.37px;
  background-color: var(--color-whitesmoke-200);
  border: 1.6px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  padding: 20px;
  margin-top: 10px;
  opacity: 0.8;
  min-height: 150px;
}

.descriptionText {
  padding-top: 10px;
  line-height: 150%;
}

.clubDetails {
  display: flex;
  margin-bottom: 100px;
}

.clubMembers {
  width: 33%;
  height: 100%;
  padding: 0 60px;
}

.memberText{
  padding-top: 20px;
  line-height: 130%;
}

.clubTags {
  width: 67%;
  height: 100%;
  padding: 0 60px;
}

.tagList {
  font-size: var(--font-size-5xl);
  line-height: 130%;
  padding: 20px;
  margin-top: 10px;
}