.b {
  position: absolute;
  top: 9px;
  left: 60px;
  line-height: 130%;
}
.accept,
.cancel {
  height: 100%;
  width: 45.05%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
}
.cancel {
  position: absolute;
  right: 54.95%;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.accept {
  right: 0;
  left: 54.95%;
  background-color: var(--color-darkslategray-100);
  cursor: pointer;
  color: var(--color-white);
}
.accept,
.b2,
.div {
  position: absolute;
}
.div {
  top: 185px;
  left: 33px;
  width: 333px;
  height: 40px;
}
.b2 {
  top: 100px;
  left: 120px;
  font-size: var(--font-size-xl);
  line-height: 130%;
  color: var(--color-dimgray);
}
.adminAccept {
  width: 400px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-floralwhite);
  height: 250px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
