.b,
.b1 {
  position: absolute;
  top: 100px;
  left: 120px;
  line-height: 130%;
}
.b1 {
  top: 9px;
  left: 60px;
}
.cancel {
  height: 100%;
  width: 45.05%;
  top: 0;
  right: 54.95%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.accept,
.cancel,
.div {
  position: absolute;
}
.accept {
  height: 100%;
  width: 45.05%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 54.95%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.div {
  top: 185px;
  left: 33px;
  width: 333px;
  height: 40px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.adminReject {
  width: 400px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-floralwhite);
  height: 250px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
