.clubMembersChild {
  position: absolute;
  top: 152.5px;
  left: 26.5px;
  border-top: 1px dashed var(--color-black);
  box-sizing: border-box;
  width: 1151px;
  height: 1px;
}
.b,
.b1 {
  position: absolute;
  line-height: 130%;
}
.b {
  top: 102px;
  left: 23px;
  display: flex;
  align-items: center;
  width: 1150px;
  height: 51px;
}
.b1 {
  top: 26px;
  left: 27px;
  font-size: var(--font-size-5xl);
}
.clubMembers {
  position: absolute;
  top: 1818px;
  left: 40px;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1200px;
  height: 180px;
  overflow: hidden;
}
.b2 {
  position: absolute;
  top: 12px;
  left: 177px;
  line-height: 130%;
}
.accept {
  top: 2070px;
  left: 738px;
  background-color: var(--color-cornflowerblue);
  width: 400px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.accept,
.clubDescription,
.clubLocation,
.clubName,
.clubPage,
.clubRepEmail,
.clubRepName,
.clubTag,
.reject {
  position: absolute;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  overflow: hidden;
}
.reject {
  top: 2070px;
  left: 138px;
  background-color: var(--color-lightcoral);
  width: 400px;
  height: 55px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.clubDescription,
.clubLocation,
.clubName,
.clubPage,
.clubRepEmail,
.clubRepName,
.clubTag {
  top: 1619px;
  left: 40px;
  background-color: var(--color-whitesmoke-100);
  width: 1200px;
  height: 180px;
}
.clubDescription,
.clubLocation,
.clubName,
.clubRepEmail,
.clubRepName,
.clubTag {
  top: 1420px;
}
.clubDescription,
.clubLocation,
.clubName,
.clubRepName,
.clubTag {
  top: 1221px;
}
.clubDescription,
.clubLocation,
.clubName,
.clubTag {
  top: 1022px;
}
.clubDescription,
.clubName,
.clubTag {
  top: 823px;
}
.clubDescription,
.clubName {
  top: 624px;
}
.clubName {
  top: 425px;
}
.adminClub {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  height: 2216px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
