.clubDetail {
  width: 100%;
  position: relative;
  background-color: var(--color-floralwhite);
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.clubHeader {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 60px;
}

.lablogoIcon {
  width: 300px;
  height: 300px;
  border-radius: 19.37px;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 40px;
}

.clubInfo {
  display: flex;
  flex-direction: column;
}

.skkuding1 {
  font-size: var(--font-size-17xl);
  margin-bottom: 20px;
}

.httpswealthyHeliumFfenot {
  font-size: var(--font-size-lg);
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 10px;
}

.b4 {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.b5 {
  font-size: var(--font-size-5xl);
}

.clubDescription {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.b1 {
  font-size: var(--font-size-7xl);
  margin-bottom: 20px;
}

.labdescription {
  width: 100%;
  border-radius: 19.37px;
  background-color: var(--color-whitesmoke-200);
  border: 1.6px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.skkudingSkkuCodingContainer {
  line-height: 130%;
  display: inline-block;
  width: 100%;
}

.codedang1 {
  text-decoration: underline;
}

.codedang {
  color: inherit;
}

.clubDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.memberCount,
.clubTags {
  flex: 1;
}

.b3,
.b2 {
  font-size: var(--font-size-7xl);
  margin-bottom: 20px;
}

.div,
.div1 {
  width: 100%;
  border-radius: 19.37px;
  background-color: var(--color-whitesmoke-200);
  border: 1.6px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  padding: 20px;
  opacity: 0.8;
}

.b {
  margin-top: 10px;
}

.onlinejudge {
  font-size: var(--font-size-5xl);
  margin-top: 10px;
}