.labList {
  position: relative;
  background-color: var(--color-floralwhite);
  height: 100vh;
  overflow: auto;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}

.header {
  display: flex;
  align-items: center;
  margin-top: 60px;
  margin-left: 60px;
}

.tab {
  display: flex;
  align-items: center;
}

.club {
  margin-right: 20px;
  cursor: pointer;
}

.lab {
  color: var(--color-black);
}

.nameSearch {
  position: relative;
}

.search154734Icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.typeHere {
  padding: 10px 10px 10px 40px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 237px;
  height: 44px;
  font-size: var(--font-size-mini);
}

.typeHere:focus {
  outline: none;
}

.labGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 20px;
  padding: 20px;
}

.labItem {
  position: relative;
}

.labName {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.labImage {
  width: 100%;
  height: auto;
  border-radius: 19.37px;
  opacity: 0.8;
  cursor: pointer;
}